* 

{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100vh;
    width: 100vw;
  }

  #header {
    border-radius: 0 0 0 50px;
    background-color: rgb(100, 100, 199);
    height: 50px;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #sidebar {
    background-color: none;
    width: 30%;
    height: 100%;
    top: 50px;
    right: 0px;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  #user-input {
    background-color: lightgrey;
    height: 45%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 50px;
  }

  #itinerary {
    background-color: lightgrey;
    margin-top: 3%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 50px 0 0 0;
  }

  #home {
    font-size: 200%;
    margin-left: 3%;
    color: white;
    text-shadow: 1px 1px black
  }

  .input-item {
    margin-top: 5%;
    height: 30%;
    width: 100%;
    margin-left: 5%;
  }

  .selector {
    margin-top: 5%;
    display: flex;
    align-items: center;
  }

  button {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 30%;
    border-color: none;
    text-decoration: none;
    outline: none;
    text-align: center;
    color:white;
  }

  select {
    width: 50%;
  }

